/* declare a 7 column grid on the table */

.input {
	margin-right: 20px;
	width: 300px;
}

.rowForm {
	display:flex;
	flex-direction:column;
	padding:0;
	width:100%
}

#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar td:hover {
	background: #eee;
	cursor: pointer;
}

#calendar .weekdays {
	background: #1770cf;
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 140px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	padding: 1px;
	background: #333;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
	font-size: 12px;
}

.event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

.event-invited {
	background: #aaeecc;
}

.reject-invite{
	color: red;
}

.accept-invite{
	color: green;
}

.event:hover {
  background: #c4e2f2;
	cursor: pointer;
}

.event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;
}

.event-user {
	color: #000;
	font-size: 11px;
	margin: 3px 0 7px 0;
	text-decoration: none;
}

#calendar .other-month {
	background: #edf6ff;
	color: #666;
}

#calendar .other-month:hover {
	background: #ddf6ff;
	color: #666;
	cursor: pointer;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }

  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}
}

a {
  text-decoration: none !important;
  display: inline-block !important;
  padding: 2px 12px !important;
}

a:hover {
  background-color: #ddd !important;
  color: black !important;
}

.previous {
  background-color: #f1f1f1 !important;
  color: black !important;
	margin-right: 10px;
}

.next {
  background-color: #f1f1f1 !important;
  color: black !important;
	margin-left: 10px;
}

.round {
  border-radius: 50% !important;
}

.align-right-event {
	float: right;
	cursor: pointer;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


.spinner:before {
	background: rgba(0,0,0,0.05);
  content: '';
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border-top: 4px solid #07d;
  border-right: 4px solid transparent;
  animation: spinner .6s linear infinite;
}


/* USERS LIST */

#users_div {
	padding-right: 10px;
	padding-left: 5px;
	background-color: #fff;
}

#users_div > ul > li {
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	margin: 0px !important;
	padding: 5px 10px 5px 10px;
}

#users_div > ul {
	margin: 0px !important;
	padding: 0px !important;
}

.checkbox-list {
	margin-right: 10px;
}

.box-container {
	top: 100px;
	left: 50%;
	margin-left: -150px;
	position: fixed;
	border-radius: 4px;
	background-color: #fafafa;
	width: 300px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
	position: absolute;
	right: 0;
  color: #aaa;
  font-size: 20px;
	margin-top: -7px;
	margin-right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.box-title {
	width: 300px;
	height: 30px;
	top: 0px;
	background-color: rgba(23, 112, 207, 1);	;
	border-radius: 4px 4px 0 0;
	color: white;
	padding: 5px 0 0 10px;
	display: flex;
}

.box-submit {
	width: 300px;
	background-color: rgba(23, 112, 207, 0.9);
	color: white;
}

.box-submit:hover{
	cursor: pointer;
	background-color: rgba(23, 112, 207, 1);
}

.box {
	margin-top: 0px;
	width: 300px;
  padding: 10px 0px 0px 0px;
  color: rgb(116, 124, 142);
  font-size: 15px;
  overflow: auto;
  min-height: 100px;
	max-height: 200px;
	overflow-y: visible;
}
